<div>
  <h2> Installation </h2>

  <p>Use this button to automatically add the /blamemta slash command to yourself:</p>
  <a href="https://slack.com/oauth/authorize?client_id=471169255762.542009432774&scope=commands,chat:write:user">
    <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
  </a>
</div>

<hr>

<div>
  <h2> Usage </h2>
  <p> 
    After installation, all you need to do is type '/blamemta' in slack and
    <strong> viola~ </strong> an excuse
  </p>

  <img src="<%= Routes.static_path(@conn, "/images/slack-blame-example.gif") %>">
</div>

