<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SlackBlamemta</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>

  <body class='grid-container'>

    <div class="header">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>

    <div class='main'>
      <div class='title'>
        <h1> Slack Blame MTA </h1>
        <smaller> The Ultimate Late Excuse Generator For Train Riders</smaller>
        
        <div>
          <img src="<%= Routes.static_path(@conn, "/images/mta-joke.jpg") %>">
        </div>
      </div>
      <hr>

      <p>
        A slack application born from the frustration of being late to meetings, 
        events, or dates because of MTA issues. This application enables users to
        generate a late excuse whilst blaming the MTA in part for the lateness.
      </p>

      <hr>

      <p>View source code on Gitlab <a href="https://gitlab.com/edwinthinks/slack-blamemta">here</a></p>
      <p>Project Built & Maintained By <a href="https://twitter.com/edwinthinks"> Edwin Mak </a></p>
    </div> 

    <div class='content'>
      <%= render @view_module, @view_template, assigns %>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>

