/* This file is for your main application css. */

@import "./phoenix.css";


.grid-container {
  margin-top: 25px;
  display: grid;
  grid-template-areas:
    'header header'
    'main content';
  grid-gap: 20px;
  grid-template-columns: 40% 60%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-areas:
    'header'
    'main'
    'content';
    grid-template-columns: 100%;
  }
}

h2 {
  font-weight: bold;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  grid-area: header;
  text-align: center;
}

.main {
  grid-area: main;
  color: black;
}

.main .title {
  text-align: center;
}

.main .title h1 {
  font-weight: bold;
  margin-bottom: 1px;
}

.main .title img {
  margin-top: 10px;
  height: 150px;
  width: 150px;
}

.main .title smaller {
  font-weight: bold;
  font-size: 14px;
}

.main p {
  font-size: 0.9em;
}

p {
  margin-bottom: 5px;
}

.content {
  grid-area: content;
}
